@use "@/styles/breakpoints" as *;

* {
  -webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media (max-width: $bp-xlg) {
    font-size: 56.25%;
  }
}

html,
body {
  height: 100%;
  display: block;
  min-height: 100vh;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-regular);
  font-family: "Inter", sans-serif;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
