$bp-2xlg: 87.5em; /* 1400px */
$bp-xlg: 75em; /* 1200px */
$bp-lg: 68.75em; /* 1100px */
$bp-md: 56.25em; /* 900px */
$bp-mdsm: 46.25em; /* 740px */
$bp-sm: 41em; /* 656px */
$bp-xs: 35em; /* 560px */
$bp-2xs: 28.75em; /* 460px */
$bp-3xs: 25em; /* 400px */
