:root {
  --color-text-regular: #212529;
  --color-text-disabled: color-mix(
    in srgb,
    var(--color-text-regular) 60%,
    var(--color-primary)
  );
  --color-background: #f8f9fa;
  --color-border: #6c757d;
  --color-border-lighter: #c4c8cb;
  --color-primary: #e5a1a1;
  --color-primary-light: #edbdbd;
  --color-primary-saturated: #d96666;
  --color-secondary: #9fb8d2;
  --color-secondary-light: #c2d3e3;
  --color-neutral: #e9ecef;
  --color-neutral-darker: #d2d4d7;
  --color-approve: #a3c9a8;
  --color-reject: #d98b8b;
  --color-highlight: #f0d47c;
  --color-error: #a94442;

  --color-icon-hair: #966919;
  --color-icon-faceal: #654321;
  --color-icon-grease: #b8860b;
  --color-icon-rail-dust: #708090;
  --color-icon-blood: #8b0000;
  --color-icon-other: #696969;
  --color-icon-foreign-object: #b45309;
  --color-icon-lymph: #bdb76b;

  --border-radius-regular: 0.3rem;
}
